---
Title: Детали обращения
---

div class="container"
	div class="row"
		div class="col-sm-3 col-md-2 text-right"
			ul class="list-unstyled menu-list"
				li
					h3 Меню:
				li
					a href="" Техническая поддержка
		div class="col-sm-9 col-md-10"
			h3 Список обращений:
			dl
				dt За последние 5 минут обращение просматривали:
				dd
					|( murderer ) [17.04.2014 17.10.55]

			table class="appeal-info table-style"
				thead
					tr
						th Обращение
				tbody
					tr
						td
							dl class="dl-horizontal"
								dt Источник / От кого:
								dd [web] [9] (sforyou) Cайт s-foryou
								br class="visible-xs"
								br class="visible-xs"
								dt Создано:
								dd 2.10.2014 13.10.50 (sforyou) Cайт s-foryou
								br class="visible-xs"
								br class="visible-xs"
								dt Изменено:
								dd 3.10.2014 12.40.05 (murderer)
								br class="visible-xs"
								br class="visible-xs"
								dt Критично:
								dd Средняя
								br class="visible-xs"
								br class="visible-xs"
								dt Уровень поддержки:
								dd По умолчанию
			table class="appeal-text table-style"
				thead
					tr
						th
							div class="row"
								div class="col-md-4"
									div class="div-th text-left"
										dl class="dl-inline"
											dt От кого:
											dd
												| [9] (sforyou) Cайт s-foryou
								div class="col-md-4"
									div class="div-th text-center"
										dl class="dl-inline"
											dt Время:
											dd 2.10.2014 13.10.50
								div class="col-md-4"
									div class="div-th text-right"
										a href="" Цитировать
				tbody
					tr
						td
							| 1) необходимо сделать категорию "новинки" в верхнем меню и на главной странице с тизером, как и другие категории. И чтобы все занесенные товары последние попадали туда (наверно не лишним будет еще сделать в свойствах товара галочку "новинки", чтобы можно было их оттуда удрать. снял галочку и она уже не в новинках)
							br
							| 2) новерно все же надо сделать, чтобы в категории показывался товар по брендам только тот, что есть именно в данной категории. Т.е. если я в косметике и нажимаю на армани, у меня не показывалось все армани (часыб парфюм и т.д.), а только косметика армани.
							br
							br
							| это необходимо сделать на обоих доменах (см. заголовок)
			table class="admin-message table-style"
				thead
					tr
						th
							div class="row"
								div class="col-md-4"
									div class="div-th text-left"
										dl class="dl-inline"
											dt От кого:
											dd
												| [6] (murderer)
								div class="col-md-4"
									div class="div-th text-center"
										dl class="dl-inline"
											dt Время:
											dd 2.10.2014 13.30.50
								div class="col-md-4"
									div class="div-th text-right"
										a href="" Цитировать
				tbody
					tr
						td
							| принято, обрабатываем.
			table class="user-message table-style"
				thead
					tr
						th
							div class="row"
								div class="col-md-4"
									div class="div-th text-left"
										dl class="dl-inline"
											dt От кого:
											dd
												| [9] (sforyou) Cайт s-foryou
								div class="col-md-4"
									div class="div-th text-center"
										dl class="dl-inline"
											dt Время:
											dd 2.10.2014 13.39.57
								div class="col-md-4"
									div class="div-th text-right"
										a href="" Цитировать
				tbody
					tr
						td
							| Немного пугает твой ник, ты точно в нужном месте щас трудишься?)
			table class="answer table-style"
				thead
					tr
						th Ответ
				tbody
					tr
						td
							div class="form"
								div class="row write-message"
									div class="col-md-3"
										h5 Сообщение
									div class="col-md-9"
										textarea data-textarea="wysiwyg" rows="13" maxlength="10000" class="form-control"
										br
								div class="row add-file"
									div class="col-sm-4 col-md-3"
										p Прикрепить файлы:
										br class="visible-xs"
									div class="col-sm-8 col-md-9"
										input type="file" data-filename-placement="inside" title="Выберите файл"
										span Файл не выбран
										br class="visible-xs"
										br class="visible-xs"
								div class="row selecting"
									div class="col-md-4"
										div class="form-group"
											label Критичность:
											select class="form-control"
									div class="col-md-4"
										div class="form-group"
											label Оценка ответов
											select class="form-control"
									div class="col-md-4 text-right"
										dl class="dl-inline"
											dt Закрыть сообщение:
											dd
												button class="icon icon-search"
			div class="buttons-group"
				button class="btn btn-blue days" Сохранить
				button class="btn btn-blue days" Применить
				button class="btn btn-blue days" Сбросить